@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
  background: #0f0f0f;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}
main {
  background: url('img/left_back_image.png') no-repeat top left, url('img/right_back_image.png') no-repeat top right, url('img/bottom-left-image.png') no-repeat bottom left, url('img/bottom-right-image.png') no-repeat bottom right;
}
                                              /* Header*/
header {
  max-width: 1170px;
  height: 90px;
  margin: 0 auto;
  overflow: hidden;
}
.main-menu ul li {
  float: left;
  margin: 38px 22px 0;
}
.main-menu a {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.main-menu a:hover {
  color: #f32121;
  text-shadow: 0px 0px 20px #f32121;
  transition: 1s ease-in-out;
}
.logo {
  width: 206px;
  height: 60px;
  float: left;
  margin-top: 15px;
  margin-right: 74px;
}
.social ul li {
  float: left;
  border-right: 1px solid #3a3a3a;
  margin-top: 38px;
  padding: 0 15px;
}
.social ul li:last-child {
  border-right: none;
  margin-right: 10px;
}
.contacts {
  float: left;
  margin-top: 26px;
  text-align: center;
}
.contacts a {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
}
.contacts span {
  display: block;
  margin-left: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
                                              /* Slider*/
.header-slider {
  overflow: hidden;
    height: 640px;
    position: relative;
}
.slider-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background: url('img/background.jpg') no-repeat center center;
  background-size: cover;
}
.slider-inner {
  margin: 0 auto;
  padding-top: 90px;
  max-width: 1180px;
}
.flying-sushi-wrapper {
  position: absolute;
  left: 50%;
  top: -15px;
  width: 1170px;
  height: 640px;
  margin-left: -585px;
}
.slider-inner .slider-title {
  margin: 0 auto;
  background: #f32121;
  height: 430px;
  width: 430px;
  border-radius: 50%;
  box-shadow: 2px 3.464px 24px 0px rgba(243, 33, 33, 0.64);
}
.slider-title span:first-child {
  display: block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 15px;
}
.slider-title span:last-child {
  display: block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
#left-slider-image {
position: absolute;
z-index: 2;
left: -220px;
top: 80px;
}
#left-slider-image img, #right-slider-image img {
  height: 650px;
}
#right-slider-image {
position: absolute;
z-index: 2;
right: -90px;
top: 80px;
}
#flying-sushi {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 60px;
}
#flying-cereals {
  position: absolute;
  z-index: 2;
  left: 580px;
  top: 60px;
}
                                            /* Wrapper container*/
.wrapper {
  width: 100%;
  position: relative;
}
                                                /* ONLINE ORDER ITEMS*/
.container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
.items {
  position: relative;
}
.container span:first-child {
  display: block;
  color: #fff;
  font-family: "Montserrat";
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  padding-top: 104px;
  margin-bottom: 38px;
}
.container span:nth-child(2) {
  display: block;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  line-height: 30px;
}
.items div {
  float: left;
  position: relative;
  width: 232px;
  height: 250px;
  padding-top: 25px;
  border: 1px solid #323232;
  border-right: none;
  color: white;
  font-family: "Montserrat";
  font-size: 22px;
  text-align: center;
}
.items div:last-child, .items div:nth-child(5n) {
  border-right: 1px solid #323232;
}
.items div:nth-child(1), .items div:nth-child(2), .items div:nth-child(3), .items div:nth-child(4), .items div:nth-child(5) {
  border-top: 1px solid #323232;
  border-bottom: none;
}
.items div img:hover {
  opacity: 0.3;
}
.items div a  {
  position: absolute;
  bottom: -25px;
  z-index: 2;
  display: block;
  color: white;
  font-family: "Montserrat";
  width: 120px;
  font-size: 13px;
  background-color: rgb(243, 33, 33);
  box-shadow: 2px 3.464px 16px 0px rgba(243, 33, 33, 0.64);
  border-radius: 24px; 
  padding: 16px 28px;
  text-decoration: none;
  margin-left: 25px;
}
.items div a:hover {
  box-shadow: 4px 3.464px 32px 3px rgba(243, 33, 33, 0.64);
  transition: box-shadow 1s ease-in-out;
}
                                              /* NEWS*/
.news-container {
  padding-bottom: 254px;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}
.news-container span:nth-child(1) {
  margin-top: 130px;
  margin-bottom: 85px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 42px;
  font-weight: 300;
  display: block;
  text-align: center;
}
.news div span:nth-child(2)  { /* News name */
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  display: block;
  padding-bottom: 17px;
}
.news div time:nth-child(3) {
  font-size: 13px;
  line-height: 18px;
  color: white;
}
.news div span:nth-child(4)  { /* News details */
  color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  line-height: 18px;
  display: block;
  padding-top: 17px;
}
.show-news-button {
  color: white;
  font-family: "Montserrat";
  width: 120px;
  font-size: 13px;
  background-color: rgb(243, 33, 33);
  box-shadow: 2px 3.464px 16px 0px rgba(243, 33, 33, 0.64);
  border-radius: 24px; 
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  margin-top: 19px;
  float: left;
}
.show-news-button:hover {
  box-shadow: 4px 3.464px 32px 3px rgba(243, 33, 33, 0.64);
  transition: box-shadow 1s ease-out;
}
.news {
  width: 100%;
}
.main {
  max-width: 48%;
  float: left;
  display: block;
  margin-right: 16px;
}
.another {
  max-width: 48%;
  float: left;
  margin-left: 16px;  
  margin-bottom: 16px;
}
.main div img:first-child  {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}
.another div img:first-child {
  float: left;
  width: 50%;
  margin-right: 32px;
}
.news div time {
  color: white;
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 16px;
}
.clear {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
                                              /* Footer*/
footer {
  width: 100%;
  background-color: #282828;
  overflow: hidden;
}
.footer-container {
  max-width: 1170px;
  height: 192px;
  margin: 0 auto;
  text-align: center;  
  position: relative;
}
.logo-footer {
  width: 390px;
  float: left;
  padding-top: 50px;
}
.middle-footer {
  width: 390px;
  float: left;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 58px;

}
address {
  width: 390px;
  color: white;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 15px;
}
.social-footer {
  height: 20px;
  width:  190px;
  margin: 0 auto;
}
.social-footer ul {
  margin: 0 auto;
}
.social-footer ul li {
  border-right: 1px solid #3a3a3a;
  float: left;
  padding: 0 15px;
}
.social-footer ul li:last-child {
  border-right: none;
}
.contacts-footer {
  width: 390px;
  float: left;
  padding-top: 50px;
}
.contacts-footer a {
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 28px;
  text-decoration: none;
}

@media screen and (max-width: 1185px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  .logo-footer, address, .contacts-footer {
    max-width: 390px;
  }
  .logo {
    margin-right: 34px;
  }
  .contacts {
    position: absolute;
    top: 40px;
    left: 250px;
  }
  header {
    height: 120px;
  }
}
@media screen and (max-width: 1165px) {
  .items div:nth-child(4n) {
    border-right: 1px solid #323232;
  }
  .items div:nth-child(5) {
    border-right: none;
  }
}
@media screen and (max-width: 935px) {
  header {
    height: 150px;
  }
  .social {
    position: absolute;
    top: 65px;
    right: 0;
  }
  .social ul li {
    margin-top: 50px;
  }
  .items div:nth-child(3n) {
    border-right: 1px solid #323232;
  }
  .items div:nth-child(4) {
    border-right: none;
  }
}
@media screen and (max-width: 850px) {
  .news-container {
    display: block;
    margin: 0 auto;
  }
  .news {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .contacts-footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 740px) {
  .main-menu ul li {
    margin: 38px 10px 0;
  }
}
@media screen and (max-width: 700px) {
  .footer-container {
    float: none;
  }
  .items div:nth-child(2n) {
    border-right: 1px solid #323232;
  }
  .items div:nth-child(3) {
    border-right: none;
  }
}
@media screen and (max-width: 630px){
  .contacts {
    display: none;
  }
}
@media screen and (max-width: 470px) {
  .items div:nth-child(n) {
    border-right: 1px solid #323232;
  } 
}
