@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
  background: #0f0f0f;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}
main {
  background: url('img/left_back_image.png') no-repeat top left, url('img/right_back_image.png') no-repeat top right, url('img/bottom-left-image.png') no-repeat bottom left, url('img/bottom-right-image.png') no-repeat bottom right;
}
                                              /* Header*/
header {
  max-width: 1170px;
  height: 90px;
  margin: 0 auto;
}
.main-menu ul li {
  float: left;
  margin: 38px 22px 0;
}
.main-menu a {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
.main-menu a:hover {
  color: #f32121;
  text-shadow: 0px 0px 20px #f32121;
}
.logo {
  width: 206px;
  height: 60px;
  float: left;
  margin-top: 15px;
  margin-right: 74px;
}
.social ul li {
  float: left;
  border-right: 1px solid #3a3a3a;
  margin-top: 38px;
  padding: 0 15px;
}
.social ul li:last-child {
  border-right: none;
  margin-right: 10px;
}
.contacts {
  float: left;
  margin-top: 26px;
  text-align: center;
}
.contacts a {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
}
.contacts span {
  display: block;
  margin-left: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
                                              /* Slider*/
.slider {
  height: 610px;
  background: url('img/background.jpg') no-repeat center center;
}
.slider-container {
  margin: 0 auto;
  width: 1170px;
  height: 610px;
  overflow: hidden;
  position: relative;
}
.red-circle {
  margin: 90px auto 0;
  background: #f32121;
  height: 430px;
  width: 430px;
  border-radius: 50%;
  box-shadow: 2px 3.464px 24px 0px rgba(243, 33, 33, 0.64);
}
.red-circle span:first-child {
  display: block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 15px;
}
.red-circle span:last-child {
  display: block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.left-slider-image {
position: absolute;
z-index: 1;
left: -150px;
top: 120px;
}
.left-slider-image img, .right-slider-image img{
  height: 550px;
}
.right-slider-image {
position: absolute;
z-index: 1;
left: 730px;
top: 120px;
}
.flying-sushi {
  position: absolute;
  z-index: 1;
  left: 1000px;
  top: 80px;
}
.flying-cereals {
  position: absolute;
  z-index: 1;
  left: 580px;
  top: 80px;
}
                                            /* Wrapper container*/
.wrapper {
  width: 100%;
  position: relative;
}
                                /* Background images in corners*/
.left-corner-image {
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
}
.right-corner-image {
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
}
.left-corner-image-2 {
  height: 740px;
  position: absolute;
  bottom: 0;
  left: -30px;
}
.right-corner-image-2 {
  height: 740px;
  position: absolute;
  bottom: 0;
  right: -30px;
}
                                                /* ONLINE ORDER ITEMS*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.items {
  position: relative;
}
.container span:first-child {
  display: block;
  color: #fff;
  font-family: "Montserrat";
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  padding-top: 104px;
  margin-bottom: 38px;
}
.container span:nth-child(2) {
  display: block;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  line-height: 30px;
}
.items div {
  float: left;
  position: relative;
  width: 232px;
  height: 250px;
  padding-top: 25px;
  border: 1px solid #323232;
  border-right: none;
  color: white;
  font-family: "Montserrat";
  font-size: 22px;
  text-align: center;
}
.items div:nth-child(5n) {
  border-right: 1px solid #323232;
}
.items div a  {
  position: absolute;
  bottom: -25px;
  z-index: 2;
  display: block;
  color: white;
  font-family: "Montserrat";
  width: 120px;
  font-size: 13px;
  background-color: rgb(243, 33, 33);
  box-shadow: 2px 3.464px 24px 0px rgba(243, 33, 33, 0.64);
  border-radius: 24px; 
  padding: 16px 28px;
  text-decoration: none;
  margin-left: 25px;
}
                                              /* NEWS*/
.news-container {
  padding-bottom: 254px;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}
.news-container span:nth-child(1) {
  margin-top: 130px;
  margin-bottom: 85px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 42px;
  font-weight: 300;
  display: block;
  text-align: center;
}
.news div span:nth-child(2)  { /* News name */
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  display: block;
  padding-bottom: 17px;
}
.news div time:nth-child(3) {
  font-size: 13px;
  line-height: 18px;
  color: white;
}
.news div span:nth-child(4)  { /* News details */
  color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  line-height: 18px;
  display: block;
  padding-top: 17px;
}
.show-news-button {
  color: white;
  font-family: "Montserrat";
  width: 120px;
  font-size: 13px;
  background-color: rgb(243, 33, 33);
  box-shadow: 2px 3.464px 24px 0px rgba(243, 33, 33, 0.64);
  border-radius: 24px; 
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  margin-top: 19px;
  float: left;
}
.news {
  width: 100%;
}
.main {
  max-width: 48%;
  float: left;
  display: block;
  margin-right: 16px;
}
.another {
  max-width: 48%;
  float: left;
  margin-left: 16px;  
  margin-bottom: 16px;
}
.main div img:first-child  {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}
.another div img:first-child {
  float: left;
  width: 50%;
  margin-right: 32px;
}
.news div time {
  color: white;
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 16px;
}
.clear {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
                                              /* Footer*/
footer {
  width: 100%;
  background-color: #282828;
}
.footer-container {
  width: 1170px;
  height: 192px;
  margin: 0 auto;
  text-align: center;  
}
.logo-footer {
  width: 390px;
  float: left;
  padding-top: 50px;
}
.middle-footer {
  width: 390px;
  float: left;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 58px;
}
address {
  width: 390px;
  color: white;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  padding-bottom: 15px;
}
.social-footer {
  height: 20px;
  width:  190px;
  margin: 0 auto;
}
.social-footer ul {
  margin: 0 auto;
}
.social-footer ul li {
  border-right: 1px solid #3a3a3a;
  float: left;
  padding: 0 15px;
}
.social-footer ul li:last-child {
  border-right: none;
}
.contacts-footer {
  padding-top: 50px;
}
.contacts-footer a {
  width: 390px;
  float: left;
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 28px;
  text-decoration: none;
}
